.l-ctn {
  flex-grow: 1;

  &.l-ctn--single-post {
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 80px;

    @include header-nav {
      padding: 40px 20px;
    }
  }
}

.l-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 120px;
  color: $grey;
  max-width: 1440px;
  margin: 0 auto;
}
