.l-ctn {
  flex-grow: 1;
}

.l-section {
  padding: 20px;
  height: fit-content;
  display: block;
  margin: 0 120px;
  color: $grey;
  max-width: 1440px;
  margin: 0 auto;
}

.l-section__title {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 17px;
  font-size: 30px;
  border-bottom: 2px solid $main-green-color;
  margin-top: 80px;
  margin-bottom: 40px;
}

.hide {
  overflow: hidden;
}
