.l-header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  padding: 0 40px;
  color: $header-text-color;
  box-shadow: 0px 1px 7px rgba(87, 87, 87, 0.13);

  @include header-nav {
    flex-direction: row-reverse;
    padding: 0 20px;
  }

  .header-is-open & {
    width: 100vw;
    height: 100vh;
    font-size: 22px;
    padding: 20px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    align-items: flex-start;

    .l-header__left,
    .l-header__right {
      display: flex;
    }

    .l-header__left {
      margin: 0 auto;
    }

    .l-header__right {
      flex-direction: column;
      align-items: flex-start;

    }

    .l-header__right > a {
      margin: 0;
      display: block;
      padding: 10px 0;
      font-size: 14px;
    }
    .l-header__menu {
      display: none;
    }

    .l-header__logo-wrap {
      position: absolute;
      top: 16px;
      left: 20px;
    }

    .l-header__logo {
      margin-right: auto;
    }
    .l-header__toggle-menu {
      display: flex;
      font-size: 38px;
      margin-left: auto;
    }
    
  }
}

.l-header__logo {
  height: 50px;
  width: auto;
  margin-right: 110px;
}

.l-header__left {
  display: flex;
  align-items: center;
}

.l-header__right {
  display: flex;
  align-items: center;

  @include header-nav {
    display: none;
  }
}

.l-header__menu {
  display: none;

  @include header-nav {
    display: flex;
    font-size: 30px;
    margin-left: auto;
  }
}

.l-header__toggle-menu {
  display: none;
}
