.l-nav { 
  
  @include header-nav {
    display: none;
  }
  
  .header-is-open & {
    text-align: center;
    display: flex;
  }
}

.l-nav__list {
  display: flex;
  align-items: center;
  list-style: none;

  .header-is-open & {
    flex-direction: column;

    & > li {
      padding: 20px;

      > .c-link {
        margin-right: 0;
      }
    }
  }
}
