.c-footer-title {
  margin-bottom: 20px;
  text-decoration: underline;
}

.c-footer-list {
  margin-left: 10px;

  @include phone {
    margin-left: 20px;
  }
}

.c-footer-list__item {
  margin-bottom: 16px;
}

.c-footer-copyright {
  padding: 0 30px 30px;
  text-align: center;
  line-height: 1.5;
}
