* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;

    &.header-is-open {
        overflow: hidden;
    }
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 0;
}
